* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #00000079;
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.title-lista a {
  color: white;
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: white;

  gap: 5px;
  padding: 1rem;
  font-size: 20px;
}

.lista {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin: 10px;
  text-decoration: none;
  list-style: none;
}

.imagen {
  width: 100px;
}

.contenedor-json {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta-producto {
  width: 300px; /* Ancho deseado */
  height: 400px; /* Alto deseado */
  padding: 20px; /* Espacio interno */
  margin: 10px; /* Espacio externo */
  border: 1px solid #ccc; /* Borde */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  /* Otros estilos */
}

.tarjeta-producto img {
  width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
  height: 200px; /* Altura automática para mantener la proporción */
}

.contenedor-main {
  margin-top: 100px;
}

.cart {
  color: white;
}

.cart:hover {
  border-radius: 20px;
  color: red;
  text-align: center;
}

.contenedor-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
