* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #00000079;
  font-family: "Roboto", sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.title-lista a {
  color: white;
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: white;

  gap: 5px;
  padding: 1rem;
  font-size: 20px;
}

.lista {
  display: flex;
  justify-content: space-evenly;
  gap: 1.5rem;
  margin: 10px;
  text-decoration: none;
  list-style: none;
}

.imagen {
  width: 100px;
}

.contenedor-json {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.tarjeta-producto {
  width: 300px; /* Ancho deseado */
  height: 400px; /* Alto deseado */
  padding: 20px; /* Espacio interno */
  margin: 10px; /* Espacio externo */
  border: 1px solid #ccc; /* Borde */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  /* Otros estilos */
}

.tarjeta-producto img {
  width: 100%; /* Imagen ocupa todo el ancho de la tarjeta */
  height: 200px; /* Altura automática para mantener la proporción */
}

.contenedor-main {
  margin-top: 100px;
}

.contenedor .navbar i {
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}

.nav-card {
  color: black;
  list-style: none;
  display: none;
  padding: 1rem;
}

.contenedor .navbar button {
  display: none;
}

.contenedor .navbar i:hover > .buy-card {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 0;
  background-color: #fff;
}

.contenedor .navbar i:hover .nav-card {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10px 0 10px;
  border-bottom: solid thin #e1e1e1;
}

.contenedor .navbar i:hover .buy-card > button {
  display: block;
  width: 90%;
  padding: 1rem;
  margin: 10px auto;
  background-color: transparent;
  border: solid thin #e1e1e1;
  color: #494848;
  cursor: pointer;
}
