* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  width: 650px;
  height: 350px;
  border-radius: 10px;
  background-color: cornflowerblue;
  border: 1px solid black;
}

